;
; This file is part of MTLDA.
;
; MTLDA, a web-based document archive.
; Copyright (C) <2015>  <Andreas Unterkircher>
;
; This program is free software: you can redistribute it and/or modify
; it under the terms of the GNU Affero General Public License as
; published by the Free Software Foundation, either version 3 of the
; License, or (at your option) any later version.

; This program is distributed in the hope that it will be useful,
; but WITHOUT ANY WARRANTY; without even the implied warranty of
; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
; GNU Affero General Public License for more details.

[app]

; The URL path MTLDA is reachable at. For example /mtlda, or /
; if you installed mtlda directly into the document root.
base_web_path = /mtlda/

; Page Title
page_title = "My Tiny Little Document Archive"

; Image caching, 0 = disabled, 1 = enabled
image_cache = 1
; PDF Signing, 0 = disabled, 1 = enabled
pdf_signing = 0

[database]
type = mysql
host = localhost
db_name = database-name
db_user = username
db_pass = password
table_prefix = "mtlda_"

[pdf_signing]
author = "Andreas Unterkircher"
location = "Obersdorf, Austria"
reason = "Electronic Signature, Authenticity"
contact = "http://www.unki.land"
certificate = "file:///home/unki/git/mtlda/ssl/unki_crt.pem"
private_key = "file:///home/unki/git/mtlda/ssl/unki_key.pem"
